<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <!--<a class="navbar-brand" href="#"><img src="logo.png" alt="BigDog" width="60" height="55"></a> -->
      <img src="assets/logo.png" alt="BigDog" width="60" height="55">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="inicio" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="servicios" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

