<h5>Servicios</h5>
<div class="servicios">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-4">
		  <div class="card">
			<div class="card-body">
			  <h5 class="card-title">Cuidados</h5>
			  <p class="card-text">Conocé todo lo que tu mascota necesita para contar con una excelente salud. Logando un crecimiento óptimo y una larga vida</p>
			  <a href="#" class="btn btn-primary">Ver</a>
			</div>
		  </div>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
		  <div class="card">
			<div class="card-body">
			  <h5 class="card-title">Alimentación</h5>
			  <p class="card-text">Con estos consejos de alimentación vas a logar que tu mascota tenga toda la enegía, un pelaje ejemplar y pocas visitas al veterinario.</p>
			  <a href="#" class="btn btn-primary">Ver</a>
			</div>
		  </div>
		</div>
		<div class="col-sm-1"></div>
	  </div>
    </div>
