<h5>Fomulario de Contactos</h5>
<div class="formulario">
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-1 position-relative"></div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip01" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="validationTooltip01" required>
      <div class="valid-tooltip">
        Se ve bien!
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip02" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="validationTooltip02" required>
      <div class="valid-tooltip">
        Se ve bien!
      </div>
    </div>
     <div class="col-md-3 position-relative">
      <label for="validationTooltip03" class="form-label">País</label>
      <input type="text" class="form-control" id="validationTooltip03" required>
      <div class="invalid-tooltip">
        No válido!
      </div>
    </div>
    <div class="col-md-3 position-relative"></div>
    <div class="col-md-6 position-relative">
        <label for="validationTextarea" class="form-label">Textarea</label>
        <textarea class="form-control" id="validationTextarea" placeholder="Ingrese un mensaje" required></textarea>
        <div class="invalid-feedback">
          Por favor ingrese un mensaje.
        </div>
      </div>
      <div class="col-md-3 position-relative"></div>
    <div class="col-md-8 position-relative"></div>
    <div class="col-md-4 position-relative">
      <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
</form>
</div>