.card-img {
	width: 45%;
	height: 550px;
	margin: auto;
}

h5 {
	text-align: center;
	font-size: xx-large;
	color: whitesmoke;	
}

.card-img-overlay{
	padding: 15%;
}

.card-text {
	text-align: justify;
	font-style: italic;
	font-size: large;
	color: turquoise;
}

.card-text2{
	text-align: right;
	font-size: small;
	color: gray;
}