<div class="card bg-dark text-white">
	<img src="assets/slide/huella.png" class="card-img" alt="BigDog">
	<div class="card-img-overlay">
	  <h5 class="card-title">Mastin</h5>
	  <p class="card-text">"Se define como un perro grande, fornido, de cabeza redonda, orejas pequeñas y caídas, ojos encendidos, boca rasgada, dientes fuertes, cuello corto y grueso, pecho ancho y robusto, manos y pies recios y nervudos, y pelo largo, algo lanoso."</p>
	  <p class="card-text2">Ultima actualización hace 3 mins</p>
	</div>
</div>